:root {
    --backgroun-site: #9b8064;
    --background-card: #F8F4E1;
    --background-navbar: #3F2305;
    --background-footer: #3F2305;
    --background-category: #E1C78F;
    --background-category-hover: #3F2305;
    --border-color: #FFD54F;
    --boxshadow: #A9907E;
    --contactus-button: #FFF2D8;
    --background-contactbuttons: #E4C59E;
    --border-abooutus-btn: #FFD54F;
    --background-btn-contactus: #3F2305;
    --background-author:#113946;
    --background-searchNotFind: #FFF2D8;

    --wave-line-url: url("http://127.0.0.1:8000/static/assets/waveLine.svg");
    --footer-background: url("http://127.0.0.1:8000/static/assets/plusyoucafe.jpg");
}
.Bdiv{
    background-color: var(--backgroun-site);
}
