* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Vazirmatn', sans-serif;
}

/* @font-face {
    font-family: 'Vazirmatn';
    src: url('../public/') format('woff2'),
         url('../public//fonts/Vazirmatn-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vazirmatn';
    src: url('../public//fonts/Vazirmatn-Bold.woff2') format('woff2'),
         url('../public//fonts/Vazirmatn-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
} */
/* @font-face {
	font-family: 'Vazirmatn';
	src:	url('/fonts/Vazirmatn-FD-Light.woff2'); 
	src:	url('/fonts/Vazirmatn-FD-Regular.woff2') format('woff2'),
			url('/fonts/Vazirmatn-FD-Bold.woff2') format('woff2'), 
			url('/fonts/Vazirmatn-FD-Medium.woff2') format('woff2'),
			url('/fonts/Vazirmatn-FD-Black.woff2') format('woff2'),	
			url('/fonts/Vazirmatn-FD-ExtraLight.woff2') format('woff2'); 
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
	font-display: auto;
} */

