.cart{
    height: 100vh;
    display: flex;
    flex-direction: column;
   padding: 0px 10%;

}
.info{
   /* background-color: blueviolet; */
   line-height: 50px;
   margin: 5% 0px;

}
.icon{
    font-size: 24px;
    color: rgb(138, 8, 8);
    margin-left: 10px ;
}