
.container {
  display: flex;
  justify-content: center;
  margin: 10px; 
}
.card:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border: 3px solid #FFD54F;
}


.card {
  display: flex;
  border-radius: 1.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  max-width: 345px;
  min-width: 345px;
  min-height: 190px;
  max-height: 190px;
  overflow: hidden;
  align-items: center;
  background-color: var(--background-card);
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
}


.img {
  flex: 1.3;
  margin-right: 10px;
  padding: 10px;
  transform:scale(1) ;
  -webkit-transform:scale(1) ;
  -moz-transform:scale(1) ;
  -ms-transform:scale(1) ;
  -o-transform:scale(1) ;
}

.img img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}


.info {
  flex: 2; 
  padding: 20px; 
}


.title {
  font-size: 0.8rem; 
  margin-bottom: 0.75rem; 
  color: #000000;
  font-size: 1.3rem;
}


.description {
  color: #484444;
  font-size: 0.9rem; 
  margin-bottom: 0.5rem; 
  font-family: "Noto Sans Arabic" ;
}


.price {
  font-size: 0.7rem;
  color: #484444;
  background-color: #80ff009c;
  width: fit-content;
  padding: 5px;
  border-radius: 10px;
  font-weight: 800;
  font-family: "Noto Sans Arabic" ;
} 

@media(max-width: 1500px){
  .card{
    min-width: 400px;
  }
}
@media(amx-width: 1339px){
  .card{
    min-width: 450px;
    margin: 20px ;
  }
}

@media(max-width: 1188px){
  .card{
  min-width: 450px;
}
}

@media(max-width: 919px){
  .card{
    min-width: 550px;
  }
}
@media(max-width: 800px){
  .card{
    min-width: 470px;
  }
  .img{
    flex: 1;
  }
}
@media(max-width: 510px){
  .card{
    min-width: 400px;
  }
}
@media(max-width: 450px){
  .card{
    min-width: 270px;
  }
}




