
.rules{
    display: flex;
    margin: 20px;
    
}
.categoryMenu{
    display: flex;
    background-color: #f7fbfc;
    flex-wrap: wrap;

}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.categoryBox{
    scrollbar-width: none; 
    display: flex;
    justify-content: center;
    overflow: scroll;
    background-color: beige;
}
.categoryItem {
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto; 
    flex-shrink:inherit;
    flex-grow: 25px;
}
