 .container{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--background-contactbuttons);
}
 
.btnbox{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 
.buttons{
    width: 30%;
    height: 70px;
    border-radius: 10px;
    border: none;
    background-color: var(--contactus-button);
    box-sizing: border-box;
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-wrap: nowrap; 
    white-space: nowrap; 
    padding: 10px; 
  font-family: "Noto Sans Arabic" ;

}
 
.buttons:hover{
    border: 2px solid;
    border-color: var(--border-abooutus-btn);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: var(--background-btn-contactus);
    color: #fff;
}
 
.icon{
    margin-right: 10px;
    font-size: 28px;
    background-size: cover;
}
 
.Separator img{
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    margin-top: 50px;
    max-width: 100%;
    height: auto;
}

@media (max-width: 480px){
    .btnbox{
        width: 95%;
    }
    .icon{
        font-size: 20px;
        margin-right: 2px;
    }
    .buttons{
        padding: 3px;
    }
}
