.container{
   width: 100%;
   background-color: blue;
   height: 20vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--background-contactbuttons);
   
}
.buttons{
    width: 200px;
    height: 70px;
    margin: 10px;
    margin: 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
    background-color: var(--contactus-button);
}
.buttons:hover{
    border: 4px solid silver;
}
