.loader{
    position: absolute;
    width: 100%;
    height: 110vh;
    background-color: var(--background-footer);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader img{
    width: 130px;
    height: 200px;
}