.drawerButton {
  background-color: inherit;
  color: rgba(0, 0, 0, 0.619);
  border: none;
  padding: 5px 5px;
  cursor: pointer;
  font-size: 26px;
  border-radius: 60%;
  -webkit-border-radius: 60%;
  -moz-border-radius: 60%;
  -ms-border-radius: 60%;
  -o-border-radius: 60%;
}
.drawerButton:hover{
  background-color: #abb2ab3b;
}

.sideDrawer {
  position: fixed;
  top: 0;
  right: -300px; 
  width: 300px;
  height: 100%;
  background-color: #abcecf;
  color:rgba(206, 4, 4, 0.982);
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3);
  transition: right 0.3s ease; 
  z-index: 1000;
}
  
.open {
  right: 0; 
}
  
.closeButton {
  background-color: inherit;
  color: rgba(0, 0, 0, 0.619);
  font-size: 70px;
  border: none;
  padding: 20px 20px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-size: 26px;
}
  
ul {
  margin-top: 60px;
  list-style: none;
  padding: 20px;
  margin: 0;
}

ul li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.308);
  padding: 20px 0;
}
  
ul li a {
  color: rgba(0, 0, 0, 0.605);
  text-decoration: none;
  display: block;
}
  
ul li:hover {
  background-color: #cedace;
}
.icon{
  color: rgba(0, 0, 0, 0.648);
  font-size: 30px;
  padding-left: 5px;
}
  