.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: var(--background-navbar);
  border-bottom: 1px solid #5f695f;
  height: 9vh;
}
.header h1{
  font-family: "Noto Sans Arabic" ;
}
.searchButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  margin-left: 10px; 
}
.aboutUs{
  flex: 2;
}
.map{
  flex: 1;
}
.title {
  margin: 0;
  text-align: center;
  flex-grow: 1; 
  font-size: 24px;
  color: #fff;
  font-weight: 700;
}


.footer{
  position:relative;
  display:flex;
  width: 100%;
  height: auto;
  padding: 3% 15%;
  bottom: 0;
  left: 0;
  background-color: #fff;
  border-top: 1px solid #5f695f;
  justify-content: space-around;
  align-items: center;
  background:  var(--footer-background) ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.628); 
  z-index: 1; 
}
.footer > * {
  position: relative;
  z-index: 2; 
}

.cart{
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0px 10%;

}
.info{
 line-height: 30px;
 margin: 5% 0px;
 color: #fff;
 margin-left: 10px;
 flex-wrap: nowrap;
}
.icon{
  font-size: 24px;
  color: rgb(236, 29, 29);
  margin-left: 10px ;
}
.text{
  font-size: 20px;
  text-shadow: 0px 5px 5px rgba(151, 146, 146, 0.61),
               0px 8px 13px rgba(228, 211, 211, 0.1),
               0px 18px 23px rgba(225, 211, 211, 0.18);
}
.author {
  display: flex;
  align-items: center; 
  justify-content: center;
  padding:0 15%; 
  font-size: 14px;
  background-color: #333;
  color: #fff;
  height: 38px; 
  /* direction: rtl;  */
}

.authors {
  display: flex;
  align-items: center; 
  margin-left: auto; 
}

.authors a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px; 
  font-family: "Noto Sans Arabic" ;
}
.authors span{
  padding-bottom: 10px;
}
.txt {
  margin-right: 20px; 
  font-size: 12px;
  font-family: "Noto Sans Arabic" ;
  padding-top: 10px;
}
.container{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@media(max-width: 1000px){
  .text{
    font-size: 15px;
  }
  .icon{
    font-size: 18px;
  }
}

@media(max-width: 800px){
  .text{
    font-size: 10px;
  }
  .icon{
    font-size: 16px;
  }
}
@media(max-width: 615px){
  .footer{
    display: flex;
    flex-direction: column;
  }
  .text{
    font-size: 15px;
  }
  .icon{
    font-size: 20px;
  }
}

@media(max-width: 675px){
  .author{
    padding: 0 5%;
    font-size: 10px;
  } 
  .txt{
    font-size: 10px;
  }
}
@media(max-width: 455px){
  .author{
    padding: 0 1%;
    font-size: 10px;
  } 
}
@media(max-width: 404px){
  
  .authors span{
    padding-bottom: 5px;
  }
  .author a {
    font-size: 10px;
    margin: 0 3px;
  }
  .txt{
    font-size: 9px;
  }
}
@media(max-width: 360px){
  .authors span{
    padding-bottom: 7px;
  }
  .author a {
    font-size: 8px;
    margin: 0 3px;
  }
  .txt{
    font-size: 7px;
  }
}