.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: var(--background-navbar);
  border-bottom: 1px solid #5f695f;
  height: 9vh;
}
 
.navAndSearch {
  display: flex;
  align-items: center; 
}
  
.searchButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  margin-left: 10px; 
}
  
.title {
  margin: 0;
  text-align: center;
  flex-grow: 1; 
  font-size: 24px;
  color: #fff;
  font-weight: 700;
}

.footer{
  display:flex;
  width: 100%;
  height: auto;
  padding: 30px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  border-top: 1px solid #5f695f;
  justify-content: space-around;
  align-items: center;
  background-color: var(--background-footer);
}

.cart{
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0px 10%;

}
.info{
 line-height: 30px;
 margin: 5% 0px;
 color: #fff;
 margin-left: 10px;
 flex-wrap: nowrap;
}
.icon{
  font-size: 24px;
  color: rgb(236, 29, 29);
  margin-left: 10px ;
}
.text{
  font-size: 20px;
}
@media(max-width: 1000px){
  .text{
    font-size: 15px;
  }
  .icon{
    font-size: 18px;
  }
}

@media(max-width: 800px){
  .text{
    font-size: 10px;
  }
  .icon{
    font-size: 16px;
  }
}
